JWT_SECRET=martlett
POSTGRES_DB=martlett
POSTGRES_USER=martlett
POSTGRES_PASSWORD=martlett
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/martlett
SPRING_DATASOURCE_USERNAME=martlett
SPRING_DATASOURCE_PASSWORD=martlett
